.btn {
    margin-right: 5px;
    border: 1px solid #777
}

.btn-gray {
    background-color: lightgray
}

.marked {
    text-decoration: line-through;
    color: #777
}

.form {
    padding-bottom: 40px;
}