.login-box {
    display: flex;          
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
    height: 35em;
}

.login-box form {
    width: 300px;
    height: 275px;
    border: 1px solid #777;
    border-radius: 10px;
    text-align: center;
}

.login-box input {
    margin-left: 1.5em;
    width: 15em;
}

.login-box button {
    margin-top: 1em;
}